<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <!--映射HelloServlet到路径helloServlet-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
    </servlet-mapping>

    <!--映射LoginServlet到路径login-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!--映射TestRequest到路径testRequest-->
    <servlet>
        <servlet-name>TestRequest</servlet-name>
        <servlet-class>TestRequest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestRequest</servlet-name>
        <url-pattern>/testRequest</url-pattern>
    </servlet-mapping>

    <!--映射RegisterServlet到路径registerServlet-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>

    <!--映射TestResponse到路径testResponse-->
    <servlet>
        <servlet-name>TestResponse</servlet-name>
        <servlet-class>TestResponse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestResponse</servlet-name>
        <url-pattern>/testResponse</url-pattern>
    </servlet-mapping>

</web-app>